body {
  font-family: Arial, sans-serif;
  background-image: url(wallpaper.jpg);
  background-size: 100em;
  text-align: center;   

}

.todo-container {
  border: #11dce0;
  max-width: 600px;
  height: 200px;
  margin: 0 auto;
  padding: 0%;
}

h1 {
  font-size: 50px;
  text-align: center;
  color:#ff1493;
}
 

input[type="text"] {
  width: 70%;
  padding: 20px;
  margin-right: 8px;
  color: #083cc2;
  font-size: 20px;
}

button {
  padding:10px 40px;
  background-color:#dc143c;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  max-width: 120px;
  height: 70px;
  border-radius: 9%;
  
}
:hover button{
  color: #0e0604;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #11dce0;
  color: #e3ece1;
  font-size: 20px;
}

.delete-button {
  background-color: #71fe52;
  color: rgb(225, 22, 22);
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  
  
}
:hover.delete-button {
  color: #0f38ed;
}
